a {
  color: rgba(var(--v-theme-primary));
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.markdown * {
  color: rgb(var(--v-theme-on-surface));
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown ul,
.markdown ol,
.markdown img,
.markdown table,
.markdown p {
  padding: 1rem 0rem 1rem 0rem;
}

.markdown ul,
.markdown ol {
  padding-left: 2rem;
}

.markdown code {
  background: rgb(var(--v-theme-background));
  border: 1px solid rgb(var(--v-theme-grey-200));
  border-left: 3px solid rgb(var(--v-theme-primary));
  color: var(--v-theme-on-background);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  border-radius: 0.5rem;
}

.markdown blockquote {
  color: rgb(var(--v-theme-primary));
  font-style: italic;
  padding: 0.75rem;
  padding-left: 15px;
  border-left: 3px solid rgb(var(--v-theme-primary));
  border-top: 1px solid rgb(var(--v-theme-grey-200));
  border-right: 1px solid rgb(var(--v-theme-grey-200));
  border-bottom: 1px solid rgb(var(--v-theme-grey-200));
  border-radius: 0.5rem;
}

.markdown a {
  color: rgb(var(--v-theme-primary));
}

.markdown img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
}
