---
import LoginForm from "../../components/vue/forms/login-form.vue";
import AuthLayout from "../../layouts/authLayout.astro";
---

<AuthLayout title="Login">
  <LoginForm client:only="vue">
    <div slot="fallback">Loading..</div>
  </LoginForm>
</AuthLayout>
