---
import "../assets/styles.css";
import { ViewTransitions } from "astro:transitions";
import Logo from "../components/layouts/logo.astro";
import { config } from "../utils/config";
import Toast from "../components/vue/toast/toast.vue";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Toast client:load />
    <div class="bg-no-repeat bg-cover bg-center relative">
      <div
        class="absolute bg-gradient-to-b from-gray-400 to-primary opacity-75 inset-0 -z-0"
      >
      </div>
      <div
        class="flex flex-col md:flex-row mx-2 justify-center py-10 items-center h-screen"
      >
        <div class="flex-col hidden md:flex self-center p-10 sm:max-w-2xl z-10">
          <div class="self-start hidden md:flex flex-col text-base-100">
            <div class="self-start">
              <Logo />
            </div>
            <h1 class="mb-3 font-bold text-5xl">
              Hi, Welcome Back to {config.appName}{" "}
            </h1>
            <p class="pr-3">
              Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing industries for previewing layouts and visual
              mockups
            </p>
          </div>
        </div>
        <slot />
      </div>
    </div>
  </body>
</html>
