---
import Layout from "../layouts/Layout.astro";
import MediaGalleryModal from "src/components/vue/media-gallery/media-gallery-modal.vue";
---

<Layout title="Home Page">
  <div class="container mx-auto">
    <h1>Astro</h1>
    <MediaGalleryModal client:visible />
  </div>
</Layout>
